h1{
    color: blue;
    margin: 0px 0px 20px 115px;
}
#wrapper{
    /* height: 1200px;
    width: 1900px; */
    display: flex;
    justify-content:space-around;
    /* background-image: url('https://wallpapercave.com/wp/dH8ljb2.jpg'); */
}
#user_box{
    width: 550px;
    height: 650px;
    background-color: whitesmoke;
    padding: 100px;
    border-radius: 100px;
    border-style: solid;
    border-color: black;
}
.spacedown{
    padding: 20px;
}
#bg {
    background: url('https://wallpapercave.com/wp/dH8ljb2.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 1400px;
    overflow: hidden;
}