{% extends 'basetreasure.html' %}

{% block content %}
<div id="header">
    <div>
        <h1>Hello {{this_user.first_name}}</h1>
    </div>
    <div>
        <a class="btn btn-primary bar" href="/dashboard">Dashboard</a>
        <a class="btn btn-primary bar" href="/my_account">My Account</a>
        <a class="btn btn-primary bar" href="/logout">Logout</a>
    </div>
</div>
</br>
<div id="treasure_box">
    <div id="boarder">
        <div id="treasure_form">
            <form class="logreg" method="post" action="create_treasure" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Create a New Treasure</h2>
                <br>
                <label for="name">Treasure Name </label> <input name="name" type="text">
                <label for="description">Description </label> <input name="description" type="text">
                <label for="location">Location </label> <input name="location" type="text">
                <label for="image">Image </label> <input type="file" name="image" accept="image/*">
                <label for="map_url">Map URL </label> <input name="map_url" type="url">
                <button class="btn btn-success" type="submit">Create Treasure</button>
            </form>
        </div>
        </br>
        <div id="treasure_errors">
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}