{% extends 'base_log_reg.html' %}

{% block content %}
<div id="Login">
    <h1>Login</h1>
    <form class="logreg" action ="/login" method="POST">
        {% csrf_token %}
        <label for="email">Email </label> <input name="email" type="text">
        <label for="password">Password </label> 
        <input name="password" type="password">
        <input class="btn btn-success" type="submit" Value="Login" id="loginbutton">
    </form>
    <p class="spacedown">Not a treasure hunter yet?  <a href="/registration" method="POST">Register Here!</a></p>
</div>
<div id="errors">
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}