h1{
    color: blue;
}
h2{
    margin: 0px 0px 20px 0px;
    display: flex;
    justify-content: center;
}
#header{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding: 25px;
    margin-top: -20px;
}
#treasure_box{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#boarder{
    border-style: solid;
    border-color: black;
    padding:25px;
    background-color: whitesmoke;
    border-radius: 10px;
    min-width: 380px;
}
#bg {
    background: url('https://wallpapercave.com/wp/dH8ljb2.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 1350px;
    width: 100%;
    overflow: hidden;
}
label{
    display: block;
}
input{
    margin-bottom: 15px;
    display: block;
}
.logreg{
    display: flex;
    justify-content: center;
    flex-direction: column;
}